@import "nullstyle.css";

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background: #f5a46a;
    font-size: 20px;
}
.fixed {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}
.fixed-img {
    height: 150px;
    width: 150px;
}
.fixed-img img {
    width: 100%;
    height: 100%;
}
.hide {
    display: none;
}

.fixed div {
    display: flex;
    flex-direction: column;
}
.fixed div button:first-child {
    margin: 0 0 20px 0;
}
.fixed button {
    background: #ecec0c;
    color: black;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid black;
}
.gamer {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.gamer h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
}
.general-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general-points p:first-child {
    margin: 0 0 40px 0;
}
.general-points p:last-child {
    font-size: 72px;
}
.turn-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: rgba(238, 205, 84, 0.6);
}
.turn-points p:first-child {
    margin: 0 0 20px 0;
}
.turn-points p:last-child {
    font-size: 48px;
}

.gamer-active {
    background: #f68534;
}
.gamer-active .turn-points {
    background: rgb(237, 243, 79);
    border: 1px solid darkred;
}